In [34]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass

In [3]:
password = getpass.getpass()

········

In [5]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [6]:
data = pd.read_sql_query('SELECT COUNT(DISTINCT(last_name)) FROM actor;', engine)
data.head()

   COUNT(DISTINCT(last_name))
0                         121

In [26]:
query = '''SELECT *, dayname(rental_date) AS 'day',
CASE
WHEN dayname(rental_date) IN ('Saturday', 'Sunday') THEN 'weekend'
ELSE 'weekday'
END AS 'day_type'
FROM rental
LIMIT 20;'''
data = pd.read_sql_query(query, engine)
data.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,day,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,Tuesday,weekday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,Tuesday,weekday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,Tuesday,weekday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,Tuesday,weekday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,Tuesday,weekday

In [32]:
query = '''SELECT title FROM film
WHERE title LIKE '%ARMAGEDDON%';
'''
data = pd.read_sql_query(query, engine)
data.head()

ValueError: unsupported format character 'A' (0x41) at index 42

In [16]:
query = '''SELECT title FROM film
ORDER BY length DESC
LIMIT 10;'''
data = pd.read_sql_query(query, engine)
data.head(10)

                title
0      DARN FORRESTER
1        POND SEATTLE
2       CHICAGO NORTH
3       MUSCLE BRIGHT
4        WORST BANGER
5         GANGS PRIDE
6  SOLDIERS EVOLUTION
7           HOME PITY
8   SWEET BROTHERHOOD
9      CONTROL ANTHEM

In [33]:
query = '''SELECT COUNT(title) FROM film
WHERE special_features LIKE '%Behind the scenes%';'''
data = pd.read_sql_query(query, engine)
data.head(10)

ValueError: unsupported format character 'B' (0x42) at index 60